body{
    background-color: #D5A6BD;
}
p{
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin-left: 0px;
    color: rgb(0, 0, 0);
}

.alto{
    height: 200px;
}
.fondo_imagen{
    height: 280px;
    background: url(https://www.dipucadiz.es/export/sites/default/cultura/.galerias/lectura/Banner_Biblioteca.jpg_541957993.jpg);
    background-size: 100%;
}

h1{
    font-size:  45px;
    font-style: normal;
    font-family: sans-serif;
    color:white;
    
}
h3{
    text-align: center;
    align-items: center;
    margin-left: 20px;
}
