<app-navigation-admin></app-navigation-admin>
<body></body>
<div class="fondo_imagen d-flex justify-content align-items-end">
    <h1><b>BiblioTec</b><br><h2><b>Biblioteca de la Universidad<br>Tecnologica del Norte de Guanajuato</b></h2></h1>
    <p></p>
  </div>
  <br>
<h3>Novedades</h3>
<table class="table container p-4" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Genero</th>
      <th scope="col">Autor</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>Calculo</td>
      <td>Educativo</td>
      <td>Autor</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>El patito feo</td>
      <td>Infantil</td>
      <td>Autor</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Caperucita roja</td>
      <td>Infantil</td>
      <td>Autor</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Historia de Mexico</td>
      <td>Educativo</td>
      <td>Autor</td>
    </tr>
  </tbody>
</table>

