<html lang="en" dir="ltr">
    <h1>BiblioTec UTNG</h1>
    <body>
        <section class="form-login">
            <h5>Registrate</h5> 
            <input class="controls" type="text" name="usuario" value="" placeholder="Numero de control" autofocus>
            <input class="controls" type="password" name="contraseña" value="" placeholder="Edificio">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Nombre(s)">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Apellidos">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Crear contraseña">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Confirmar contraseña">
            <p><button><a href="/inicio">Aceptar</a></button></p>  
            <br>

        </section>
    </body>
</html>
<br>