<html lang="en" dir="ltr">
    <h1>BiblioTec UTNG</h1>
    <body>
        <section class="form-login">
            <h5>Registrate</h5> 
            <input class="controls" type="text" name="usuario" value="" placeholder="Matricula" autofocus>
            <input class="controls" type="password" name="contraseña" value="" placeholder="Nombre(s)">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Apellido Peterno">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Apellido Materno">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Correo electrónico">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Dirección">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Teléfono">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Crear contraseña">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Confirmar contraseña">
            <div class="button-container">
                <p><button><a href="/inicio">Aceptar</a></button></p>
                <p><button onclick="window.history.back();"><a>Regresar</a></button></p>
            </div>
            <br>
        </section>
    </body>
</html>
<br>