body{
    background-color: #9FC5F8;
}
div{
  align-items: center;
  text-align: center;

}
h2{
  background-color: rgb(79, 173, 255);
  text-align: center;
}
.carousel-inner {
  height: 300px; /* Ajusta la altura del carrusel */
}

.carousel-custom {
  object-fit: cover; /* Mantiene el aspecto de la imagen al cubrir el área */
  height: 100%; /* Asegura que la imagen cubra toda la altura del contenedor */
  width: 100%;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

