body {
    background-color: #d4fdff; /* Color de fondo de respaldo */
    background-image: url('../../../../assets/fondo\ de\ libros.jpeg'); /* Ruta a tu imagen de textura */
    background-repeat: repeat; /* Hace que el patrón se repita en todo el fondo */
    background-size: 300px 300px; /* Tamaño de la imagen de fondo */
  }
main>.container {
    padding: 20px 0px;
}

/* Reduce el tamaño de la fuente en las celdas de la tabla */
.table td, .table th {
    font-size: 12px; /* Ajusta el tamaño según lo que necesites */
}

/* Reduce el tamaño de la fuente en el encabezado de la tabla */
.table thead th {
    font-size: 12px; /* Ajusta el tamaño según lo que necesites */
}
