<app-navigation-admin></app-navigation-admin>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container">
            <h2 class="text-center"><b>Usuarios</b></h2>
            <table class="table table-hover table-bordered my-3" aria-describedby="titulo">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Matricula</th>
                        <th scope="col">Nombre de usuario</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Prestamos</th>
                        <th scope="col">Multas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{ usuario.Matricula }}</td>
                        <td>{{ usuario.Nombre }}</td>
                        <td>{{ usuario.ApPaterno }} {{ usuario.ApMaterno }}</td>
                        <td>{{ usuario.Direccion }}</td>
                        <td>{{ usuario.Correo }}</td>
                        <td>{{ usuario.Telefono }}</td>
                        <td>{{ usuario.Prestamos }}</td>
                        <td>{{ usuario.Multas }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
<app-footeradmin></app-footeradmin>
