<app-navigation-admin></app-navigation-admin>
<body></body>
<div class="fondo_imagen d-flex justify-content align-items-end">
    <h1><b>BiblioTec</b><br><h2><b>Biblioteca de la Universidad<br>Tecnologica del Norte de Guanajuato</b></h2></h1>
    <p></p>
  </div>
  <br>
<main class="flex-shrink-0">
  <div class="container">
      <h3><b>Ultima Actividad</b></h3>
      <table class="table table-hover table-bordered my-3" aria-describedby="titulo">
          <thead class="table-dark">
              <tr>
               <th scope="col">ISBN</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Genero</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Vista Previa</th>
                  <th scope="col">Fecha</th>
              </tr>
          </thead>

          <tbody>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
          </tbody>
      </table>
  </div>
</main>
<app-footeradmin></app-footeradmin>
