<app-navigation-admin></app-navigation-admin>
<body></body>
<div>
  <div>
    <html lang="en" dir="ltr">
    <body>
        <section class="form-login">                         
            <h1>Reglas basicas de la biblioteca</h1>
            <p><b>Acceso y Uso</b>
              <br>
              El reglamento establece las normas obligatorias para todos los usuarios de la biblioteca, incluidos estudiantes, personal académico, administrativo y externos.
              El préstamo de material incluye libros, videos y otros recursos, con ciertos límites y condiciones.
              <br><br>
              <b>Servicios</b>
              <br>
              Los servicios básicos son gratuitos, pero fotocopias, papelería y otros servicios pueden tener un costo.
              El usuario puede solicitar hasta 3 obras por 24 horas, siempre que haya más de un ejemplar disponible.
              <br><br>
              <b>Requisitos para Uso</b>
              <br>
              Los usuarios deben estar al corriente con sus deudas en la biblioteca, presentar credencial vigente y firmar un vale de compromiso para préstamos externos.
              <br><br>
              <b>Prohibiciones</b>
              <br>
              Está prohibido fumar, consumir alimentos o bebidas, y realizar actividades que alteren el orden en la sala de lectura.
              No se permite el mal uso de instalaciones y equipos, ni la introducción de mochilas o bolsas.
              <br><br>
              <b>Sanciones</b>
              <br>
              Retrasos en la devolución, maltrato o pérdida de material resultan en sanciones que pueden incluir multas, reposición de material o suspensión de servicios.
              Conductas graves, como agredir al personal o sustraer material sin autorización, pueden llevar a la suspensión definitiva de la biblioteca.
              <br><br>
              <b>Derechos de los Usuarios</b>
              <br>
              Los usuarios pueden sugerir la adquisición de nuevos materiales y tienen derecho a un certificado de no adeudo, siempre que cumplan con los requisitos.</p>
        </section>
    </body>
</html>
<br>
  </div>
<br>
</div>
<app-footeradmin></app-footeradmin>
