<html lang="en" dir="ltr">
    <body>
        <h1>BiblioTec UTNG</h1>
        <section class="form-login">
            <h5>Perfil</h5> 
            <form action="#" class="row g-3" method="post" autocomplete="off">
                <div class="col-md-4">
                    <input class="controls" type="text" value="" placeholder="Matricula" required autofocus>
                </div>
                <div class="col-md-4">
                    <input class="controls" type="text" value="" placeholder="Nombre(s)">
                </div>
                <div class="col-md-3">
                    <input class="controls" type="text" value="" placeholder="Apellido Peterno">
                </div>
                <div class="col-md-3">
                    <input class="controls" type="text" value="" placeholder="Apellido Materno">
                </div>
                <div class="col-md-4">
                    <input class="controls" type="text" value="" placeholder="Correo electrónico">
                </div>
                <div class="col-md-4">
                    <input class="controls" type="text" value="" placeholder="Dirección">
                </div>
                <div class="col-md-3">
                    <input class="controls" type="text" value="" placeholder="Teléfono">
                </div>
                <div class="col-md-4">
                    <input class="controls" type="password" name="contraseña" value="" placeholder="Crear contraseña">
                </div>
                <div class="col-md-4">
                    <input class="controls" type="password" name="contraseña" value="" placeholder="Confirmar contraseña">            
                </div>
            </form>
              <p><a class="btn-custom">Cambiar contraseña</a></p>
              <p><a  class="btn-custom" type="button" onclick="window.history.back();">Regresar</a></p>
            <br>
        </section>
<br>
</body>
</html>
<app-footer></app-footer>