body {
    background-color: #d4fdff; /* Color de fondo de respaldo */
    background-image: url('../../../../assets/patrondeestante.jpg'); /* Ruta a tu imagen de textura */
    background-attachment: fixed; /* Hace que el fondo permanezca fijo al desplazarse */
    background-repeat: repeat; /* Hace que el patrón se repita en todo el fondo */
    background-size: 300px 300px; /* Ajusta el tamaño de la imagen a 50x50 píxeles */
  } 
  

.card {
    width: 900px;
    height: 550%;
    background: rgba(87, 87, 87, 0.9); /* Gris con 80% de opacidad */
    margin: auto;
    border-top: 4px solid #949494;
    color: white;
    border-radius: 15px; /* Esquinas redondeadas */
    box-shadow: 7px 13px 37px #000000; /* Sombra */
}
.card-body {
    padding: 2rem;
}

h3 {
    text-align: center;
}
.color-message {
    color: rgb(203, 35, 35); /* Color del texto */
    font-size: 15px; /* Ajusta el tamaño del texto */
    font-weight: bold; /* Pone el texto en negritas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    width: 250px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Ajusta la altura automáticamente según el contenido */
    display: inline-block; /* Asegura que el elemento se ajuste al contenido */
    border-radius: 10px; /* Añade esquinas redondeadas */
}
h2 {
    background-color:  rgba(77, 98, 80, 0.947);
    color: rgb(238, 238, 238); /* Color del texto */
    text-align: center;
    width: 50%; /* Ajuste del ancho para un mejor equilibrio */
    margin: 20px auto; /* Añade margen superior e inferior */
    padding: 10px; /* Más espacio interno para un diseño más espacioso */
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    font-family: 'Arial', sans-serif; /* Cambia la tipografía */
    font-size: 1.8rem; /* Ajusta el tamaño de la fuente */
    letter-spacing: 1px; /* Espaciado entre letras */
}
.me-6{
    margin-right: 81%;
}



