<app-navigation-admin></app-navigation-admin>
<body class="d-flex flex-column h-100">

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <br>
            <h2 class="text-center"><b>Copias</b></h2>
            <a href="/agregarcopia" class="btn btn-success me-6">Agregar</a>
            <a href="/crud" class="btn btn-primary">Regresar</a>
            <table class="table table-hover table-bordered my-3" aria-describedby="titulo">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ISBN</th>
                        <th scope="col">Título</th>
                        <th scope="col">Género</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Descripción</th> 
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>  
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
<app-footeradmin></app-footeradmin>