<app-navigation-admin></app-navigation-admin>
<body></body>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container">
            <h2 class="text-center"><b>Prestamos</b></h2>
            <table class="table table-hover table-bordered my-3" aria-describedby="titulo">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Matricula de Usuario</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Fecha de<br>prestamo</th>
                        <th scope="col">Tipo</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>  
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
<app-footeradmin></app-footeradmin>
