<app-navigation></app-navigation>
<body></body>

<h2><b>Prestamos</b></h2>
<div>
    <main class="flex-shrink-0">
        <div class="container">
            <table class="table table-hover table-bordered my-3" aria-describedby="titulo">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Vista Previa</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
<h2><b>Multas</b></h2>
<div>
    <main class="flex-shrink-0">
        <div class="container">
            <table class="table table-hover table-bordered my-3" aria-describedby="titulo">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Causa</th>
                        <th scope="col">Libro</th>
                        <th scope="col">Monto a pagar</th>
                        <th scope="col">Fecha de multa</th>
                        <th scope="col">Fecha de pago</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
<app-footer></app-footer>
