.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    margin-top: end;
}
.footer-spacing {
    margin-top: 40px; /* Ajusta el valor según el espacio que desees */
}
.bg-custom{
    background-color: #8f6f20  
  }

