<nav class="navbar navbar-expand-lg bg-custom" data-bs-theme="dark">
    <div class="container p-3">
      <a class="navbar-brand" href="/inicioadmin"><b>BiblioTec</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
        
          <li class="nav-item">
            <a class="nav-link" href="/informes">Informes</a>
          </li>               
          <div class="btn-group">
            <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Baja de Libros
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/bajafisica">Fisicos</a>
              <a class="dropdown-item" href="/bajadigital">Digitales</a>
            </div>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Alta de Libros
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/altafisica">Fisicos</a>
              <a class="dropdown-item" href="/altadigital">Digitales</a>
            </div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/inventario">Inventario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Cerrar sesion</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
