<html lang="en" dir="ltr">
    <h1>BiblioTec</h1>
    <body>
        <section class="form-login">
            <h5>Verificación </h5> 
            <input class="controls" type="text" name="usuario" value="" placeholder="Codigo">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Nueva contraseña">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Confirmar   contraseña">
            <p><a href="/login">Confirmar</a></p>
            <p><a href="/recuperar">Cancelar</a></p>
        </section>
    </body>
</html>