<app-navigation-admin></app-navigation-admin>
<body class="d-flex flex-column h-100">
  <main class="flex-shrink-0">
      <div class="container my-5">
          <div class="card shadow-lg">
              <div class="card-body">
                  <h3>Libro</h3>
<form #form="ngForm" (ngSubmit)="saveBook(form)" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
  <!-- ISBN -->
  <div class="col-md-6">
      <label for="isbn" class="form-label">ISBN</label>
      <input 
        type="text" 
        id="isbn" 
        class="form-control" 
        [(ngModel)]="book.Isbn" 
        name="isbn" 
        required 
        minlength="10" 
        maxlength="13"  
        #isbnInput="ngModel" 
        [ngClass]="{
          'is-invalid': isbnInput.invalid && isbnInput.touched,
          'is-valid': isbnInput.valid && isbnInput.touched
        }">
      <!-- Mensajes de error -->
      <div *ngIf="isbnInput.errors?.['required'] && isbnInput.touched" class="invalid-feedback">
        Este campo es obligatorio.
      </div>
      <div *ngIf="isbnInput.errors?.['minlength'] && isbnInput.touched" class="invalid-feedback">
        El ISBN debe tener al menos 10 caracteres.
      </div>
      <div *ngIf="isbnInput.errors?.['maxlength'] && isbnInput.touched" class="invalid-feedback">
        El ISBN no debe superar los 13 caracteres.
      </div>
      <div *ngIf="isbnInput.errors?.['invalidIsbn'] && isbnInput.touched" class="invalid-feedback">
        El ISBN debe ser un formato válido (ISBN-10 o ISBN-13).
      </div>
  </div>

<!-- Título -->
<div class="col-md-6">
  <label for="titulo" class="form-label">Título</label>
  <input 
    type="text" 
    id="titulo" 
    class="form-control" 
    [(ngModel)]="book.Titulo" 
    name="titulo" 
    required 
    #tituloInput="ngModel" 
    [ngClass]="{
      'is-invalid': tituloInput.invalid && tituloInput.touched,
      'is-valid': tituloInput.valid && tituloInput.touched
    }"
    (ngModelChange)="onTituloChange($event)">
  <div *ngIf="tituloInput.errors?.['required'] && tituloInput.touched" class="invalid-feedback">
    Este campo es obligatorio.
  </div>
</div>


  <!-- Autor -->
  <div class="col-md-6">
      <label for="autor" class="form-label">Autor</label>
      <input 
        type="text" 
        id="autor" 
        class="form-control" 
        [(ngModel)]="book.Autor" 
        name="autor" 
        required 
        #autorInput="ngModel" 
        [ngClass]="{
          'is-invalid': autorInput.invalid && autorInput.touched,
          'is-valid': autorInput.valid && autorInput.touched
        }">
      <div *ngIf="autorInput.errors?.['required'] && autorInput.touched" class="invalid-feedback">
        Este campo es obligatorio.
      </div>
  </div>

  <!-- Género -->
  <div class="col-md-6">
      <label for="tema" class="form-label">Género</label>
      <input
        type="text"
        id="tema"
        class="form-control"
        [(ngModel)]="book.Genero"
        name="tema"
        required 
        minlength="5"
        #temaInput="ngModel"
        [ngClass]="{
          'is-invalid': temaInput.invalid && temaInput.touched,
          'is-valid': temaInput.valid && temaInput.touched
        }">
      <div *ngIf="temaInput.errors?.['required'] && temaInput.touched" class="invalid-feedback">
        Este campo es obligatorio.
      </div>
      <div *ngIf="temaInput.errors?.['minlength'] && temaInput.touched" class="invalid-feedback">
        El género debe contener al menos 5 letras.
      </div>
  </div>

  <!-- Descripción -->
  <div class="col-md-6">
      <label for="descripcion" class="form-label">Descripción</label>
      <input
        type="text"
        id="descripcion"
        class="form-control"
        [(ngModel)]="book.Descripcion"
        name="descripcion"
        required
        #descripcionInput="ngModel"
        [ngClass]="{
          'is-invalid': descripcionInput.invalid && descripcionInput.touched,
          'is-valid': descripcionInput.valid && descripcionInput.touched
        }">
      <div *ngIf="descripcionInput.errors?.['custom'] && descripcionInput.touched" class="invalid-feedback">
        La descripcion no puede tener menos de 5 palabras.
      </div>
      <div *ngIf="descripcionInput.errors?.['required'] && descripcionInput.touched" class="invalid-feedback">
        Este campo es obligatorio.
      </div>
  </div>

  <!-- Imagen -->
  <div class="col-md-6">
    <label for="imagen" class="form-label">Imagen</label>
    <input 
      type="file" 
      id="imagen" 
      class="form-control" 
      (change)="onFileChange($event)"
      name="imagen">
    <div *ngIf="imageError" class="invalid-feedback">
      {{ imageError }}
    </div>
  </div>

  <!-- Botones -->
  <div class="col-12">
    <a href="/crud" class="btn btn-secondary">Regresar</a>
    <button type="submit" class="btn btn-success">Guardar</button>
  </div>
</form>

<div *ngIf="showSuccessMessage" class="alert alert-success" role="alert">
  El libro ha sido guardado exitosamente.
</div>          
<div *ngIf="showDuplicateIsbnMessage" class="alert alert-danger" role="alert">
  El ISBN ingresado ya existe en la base de datos. Por favor, ingrese un ISBN diferente.
</div>
</div>
</div>
</div>
</main>
</body>

