body {
    background-color: #aa9f8e;
}

.card {
    width: 900px;
    height: 550%;
    background: rgba(102, 102, 102, 0.8); /* Gris con 80% de opacidad */
    margin: auto;
    padding: 20px 10px;
    border-top: 4px solid #017bab;
    color: white;
    border-radius: 15px; /* Esquinas redondeadas */
    box-shadow: 7px 13px 37px #080808; /* Sombra */
}
.card-body {
    padding: 2rem;
}

h3 {
    text-align: center;
}
