.bg-custom1{
    background-color: rgb(0, 71, 126);
}
.bg-custom2{
    background-color:#cdcdcd;
}
.btn-custom{
    background-color: rgb(125, 125, 125);
}
.nav-item-space{
    margin-left: 300px;
    margin-right: 400px;
}
body {
    background-color: #9FC5F8;
}

h2 {
    background-color: rgb(79, 173, 255);
    text-align: center;
    width: 90%; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto; /* Centra horizontalmente el elemento */
    padding: 2px; /* Añade un poco de padding para que el texto no esté pegado al borde */
    border-radius: 5px; /* (Opcional) Añade bordes redondeados para un efecto más suave */
}

p{
    text-align: left;
    line-height: 0.9; 
}

    
