.bg-custom1{
    background-color: rgb(0, 71, 126);
}
.bg-custom2{
    background-color:#cdcdcd;
}
.btn-custom{
    background-color: rgb(125, 125, 125);
}
.nav-item-space{
    margin-left: 120px;
    margin-right: 400px;
}
body{
    background-color: #9FC5F8;
}