<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>BiblioTec UTNG</h1>
    <section class="form-login">
        <h5>Inicio de sesión</h5>
        <form (ngSubmit)="onSubmit()">
            <input class="controls" type="text" [(ngModel)]="usuario" name="usuario" placeholder="Usuario" required autofocus>
            <input class="controls" type="password" [(ngModel)]="contrasenia" name="contrasenia" placeholder="Contraseña" required>
            <p>
                <button class="btn-custom" type="submit">Ingresar</button>
            </p>
        </form>
        <br>
        <p><a class="btn-custom" routerLink="/registro">¿No tienes cuenta?</a></p>
    </section>
</body>
</html>
